*{margin: 0px;padding: 0px;font-size: 1rem;font-family: "microsoft yahei";}
li{list-style: none;}
a{text-decoration: none; -webkit-tap-highlight-color:transparent;}
input[type="text"],input[type="password"],input[type="number"],input[type="submit"],input[type="button"],button,textarea{outline:none;-webkit-appearance: none;}
select{outline: none;-webkit-appearance: none;}
s{font-style: normal;text-decoration: none;}
em{font-style: normal;}
input,button{background: none;border:0px;outline: none;}
input::-webkit-input-placeholder{color:#909099;}
textarea::-webkit-input-placeholder{color:#909099;}
body,html{width: 100vw;}
i{font-style: normal;}
.anniu{background: #3D68EF;width: 100%;color: #fff;padding: 12px 0;margin-top:10%;border-radius: 5px;}
.anniu_neibu{background: #3D68EF;width:40%;color: #fff;padding: 12px 0;margin: auto;margin-top:20%;display: block;}
.annius{background: #3D68EF;width:90%;color: #fff;padding: 12px 0;margin: auto;margin-top:15%;margin-bottom:10%;display: block;border-radius: 5px;}
.mt{height: 5px;background: #F5F5F5;}

/*头部*/
.h1{width: 100%;position: relative;padding:3% 2%;font-weight: 500;box-sizing: border-box;background: #FFFFFF;border-bottom: 1px solid #EBEBEB;}
.h1 button{position: absolute;margin-left:0px;margin-top:0px;font-size: 1.4rem;color: #000;}
.h1 p{text-align: center;color: #333333;font-size: 1.2rem;font-weight: normal;}
.h1 p img{width: 20px;height: 20px;position: relative;top: 5px;margin-right: 8px;}
.h1 p span{text-align: center;color: #fff;font-size: 1.2rem;}
.h1 a.fl{position: absolute;font-size: 1rem;left: 15px;top:15px;color: #333;text-align: left;}
.h1 a.fr{position: absolute;font-size: 1rem;right: 15px;top:15px;color: #333;text-align: right;}
.h1 a img{width: 55%;}

.logo{text-align: center;color: #333;}
.logo img{display: block;width: 18%;margin: auto;margin-bottom: 3%;    padding-top: 15%;}
.logo h2{font-size:1.8rem;font-weight: 600;letter-spacing: 2px;}
.logo p{font-size: 0.8rem;margin-top: 5px;}
.login label{margin-bottom: 15px;color: #45454D;}
.login input{width:100%;outline: none;background: none;border: 0px;color: #333;box-sizing: border-box;box-sizing: border-box;}
.login select{width:100%;outline: none;background: none;border: 0px;color: #333;box-sizing: border-box;box-sizing: border-box;}
.login input.code{width: 66%;}
.login input.tu_code{width: 75%;}
/*.login input:focus{border-bottom:1px solid #42c2a8;transition-duration:0.7s;}*/
.login{width: 100%;margin: auto;border-radius:5px;padding:10px 8%;text-align: right;box-sizing: border-box;}
.login h2{text-align: left;color: #333;font-weight: 500;font-size: 25px;margin-bottom: 20px;}
.login h2 a{color: #666;padding-bottom:5px;}
.login h2 a:nth-child(2){margin-left: 20px;}
.login form .a{color: #333;margin-top:10px;text-decoration: none;}
.locgin_i{ margin-top: 2%;}
.locgin_i .img{width: 6%;}
.locgin_i{position: relative;display: flex;flex-direction: column;align-items: flex-start;border-bottom: 1px solid #EBEBF0;padding:10px 5px;}
.shouji p{background: #f0f3ff;padding: 10px;box-sizing: border-box;color: #185cc7;border-radius: 0 0 5px 5px;margin-top: -15px;margin-bottom: 10px;}
.getCode1{width: 28% !important;display: block;position: absolute;right:0%;bottom: 10px;color:#3D68EF !important;text-align: right;}
.get_code1{display:none;width:30%;position: absolute;right:0%;bottom: 10px;color:#3D68EF !important;text-align: right;}
#J_second{color: #E69F20;font-size:12px;}
.login .a_box{display: flex;align-items: center;justify-content:space-between;margin-top: 5px;}
.login .a_box a{color: #909099;font-size: 0.9rem;}
.to_regiser span{font-size: 0.9rem;color: #909099;}
.chioce{color: #3D68EF !important;margin-right: 10px;}
#code_box{position: absolute;right: 0%;bottom: 0%;text-align: right;}
#code_box img{width: 55%;}






















