*{margin: 0px;padding: 0px;font-size: 15px;font-family: "microsoft yahei";-webkit-box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; -webkit-tap-highlight-color:transparent;}
input[type="text"],input[type="password"],input[type="number"],input[type="submit"],input[type="button"],button,textarea{outline:none;-webkit-appearance: none;}
select{outline: none;-webkit-appearance: none;}
s{font-style: normal;text-decoration: none;}
em{font-style: normal;}
input,button{background: none;border:0px;outline: none;}
input::-webkit-input-placeholder{color:#8A8A99;}
textarea::-webkit-input-placeholder{color:#8A8A99;}
i{font-style: normal;}
body{background: #F3F4F5}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:"";display:block;width:100%;height:0;clear:both;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}

/*头部*/
.h1{width: 100%;position: relative;padding:3% 2%;font-weight: 500;box-sizing: border-box;background: #FFFFFF;}
.h1 button{position: absolute;margin-left:0px;margin-top:0px;font-size: 1.4rem;color: #000;}
.h1 p{text-align: center;color: #333333;font-size: 1.2rem;font-weight: normal;}
.h1 p img{width: 18%;}
.h1 p span{text-align: center;color: #fff;font-size: 1.2rem;}
.h1 a{position: absolute;font-size: 1rem;right: 15px;top:15px;color: #333;text-align: right;}
.h1 a img{width: 55%;}

/*底部导航栏*/
.height1{height: 50px;}
.footer{background: #fff;padding: 4px 0;position: fixed;width: 100vw;bottom: 0px;}
.footer ul{display: flex;align-items: center;}
.footer ul li{width:25%;text-align: center;}
.footer ul li a img{width: 40%;display: block;margin: auto;}
.footer ul li p{font-size: 12px;font-weight: 500;color: #C3CBD8;}
.footer .selected p{color: #217AFF;}
.total{display: none;}

/*头部*/
header{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	padding: 0 .5rem;
	position: relative;
	color: #fff;
	font-size: 18px;
	background: #2e5407;
	position: fixed;
	z-index: 1;
}
header span{
	position: absolute;
	right: .67rem;
}
/*头部*/
.con{
	margin-bottom: 3rem;
}

input[type="checkbox"]{
	display: none;
}
/*列表*/
.list{
	width: 100%;
	height: 2rem;
	padding: .6rem;
	border-bottom: .02rem solid gray;
}
.list p{
	margin-left: 1.4rem;
}
.content ul li{
	padding: .6rem 0;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDE1EB;
    padding: 15px 0px;
    margin: 10px;
    border-radius: 6px;
}
.content ul li .label{
	width: 2rem;
	height: 2rem;
	padding: .6rem;
}
.content ul li .img{
	width: 6rem;
	height: 6.5rem;
	margin:0 .6rem;
	display: inline-table;
}
.content ul li .text{
	width: 350rem;
	height: 6rem;
	display: flex;
    flex-direction: column;
    /*padding: 0px 10px;*/
    justify-content: space-around;
}
.content ul li .text p{
	width: 100%;
}
.content ul li .text p input,.number{
	display: inline-block;
	text-align: center;
	/*width: 2rem;
	height: 1.3rem;*/
	/*line-height: 1.3rem;*/
	background: rgba(255,255,255,.7);
	color: #666;
	font-size: .9rem;
}
.content ul li .text p input{display: inline-block;text-align: center;width: 1.5rem;height: 1.3rem;line-height: 1.3rem;background: rgba(255,255,255,.7);color: #666;font-size: .9rem;}
.content ul li .text p .number{display: inline-block;text-align: center;width: 2rem;height: 1.3rem;line-height: 1.3rem;background: rgba(255,255,255,.7);color: #333333;font-size: .9rem;}
.content ul li .text p input.btn1{background: url(../img/btn1.png);background-repeat: no-repeat;background-size: 100% 100%;}
.content ul li .text p input.btn2{background: url(../img/btn2.png);background-repeat: no-repeat;background-size: 100% 100%;}
.content ul li .text p .btn_box{display: flex;align-items: center;color: #666666;}
.red b{font-size: 10px; color: #EC1B1B;}
.number{
	/*border-right: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;*/
}
.overflow{
	margin-bottom: .2rem;
	text-overflow: ellipsis;
	overflow: hidden;
	/*white-space: nowrap;*/
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333333;
    display: -webkit-box;
}
.red{color: #FF3A3D;}
.content ul li .img img{width: 100px;height: 100px;border-radius: 10px;}
.content ul li label img,.list label img{
	width: 1.2rem;
	height: 1.2rem;
	}
.total{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	background: white;
	text-align: right;
    color: #666;
	padding-right: .6rem;
}
.xq{font-size: 14px !important; color: #898F94;padding: 10px !important;}
.total span{
	color: #701C17;
}
/*列表*/
/*底部结算*/
.bottom{
	display: flex;align-items: center;justify-content: space-between;padding-left: 10px;
		bottom: 62px;
		width: 100%;
		color: #701C17;
		background: white;
		border-top: 1px solid #EEEEEE;
	}
.bottom-label{
	height: 3rem;
	line-height: 3rem;
}
.bottom img{
	width: 1.2rem;
	height: 1.2rem;
	position: relative;
    top: 0.2rem;
	margin-right: .3rem;
}
.bottom button{
	width: 5.5rem;
	height: 2rem;
	background: #FF3A3D;
	color: white;
	margin:0 .4rem;
	border-radius: 25px;
}
/*底部结算*/
/*弹框1*/
.text1{
	width: 100%;
	height: 100%;
	top: 0;left: 0;
	background: rgba(200,200,200,.7);
	display: none;
	-webkit-display: none;
    justify-content: center;
    align-items:center;
}
.text1 form{
	width: 70%;
	height: 5rem;
	background: white;
}
.text1 form input[type=number]{
	width: 40%;height: 1.8rem;
	margin: .8rem 30%;
	border: .04rem solid black;
}
.text1 form input[type=button]{
	width: 100%;height: 1.6rem;
	background: #701C17;
	color: white;
}
/*弹框1*/
.alert{
	width: 100%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	color: red;
	background: white;
	bottom: 5rem;
	display: none;
}
/*没有数据*/
.no{
	width: 100%;
	/*height: 93%;*/
	height: 77vh;
	background: white;
	font-weight: bold;
	color: #666;
    display: -webkit-box;
     -webkit-box-pack:center;/*实现水平居中*/
    -webkit-box-align:center;/*垂直居中，不需要删除即可*/

}
/*没有数据*/
