
body{
	background: url(../images/new-index-bg.png) no-repeat;
	background-size: 100% 100%;
	min-height: 100vh;
}

.main{
	margin: 0.23rem 0 0.5rem;
	position: relative;
}

.toshop{
	position: absolute;
	bottom: 0.25rem;
	left: 50%;
	/* width: 1.05rem; */
	width: 0.8rem;
	margin-left: -0.55rem;
}

/* 公告 */
.announcement{
	display: flex;
	align-items: center;
	padding: 0 0.1rem;
	background: rgba(0,0,0,.3);
	margin: 0.15rem 0;
	color: #fff;
	font-size: 0.13rem;
	border-radius: 5px;
	margin: 0 0.15rem;
	margin-bottom: 0.12rem;
}
.announcement-bg{
	width: 100%;
	height: 0.4rem;
	display: flex;
	align-items: center;
	padding: 0.05rem 0.03rem;
	border-radius: 5px;
}
.noticeBarContent{
	width: 100%;
	line-height: 0.4rem;
}
.notice-icon{
	width: 0.27rem;
	margin-right: 0.1rem;
}
.notice-more-icon{
	width: 0.06rem;
	margin-left: 0.1rem;
}



.container{
	background: url(../images/index-board.png) no-repeat;
	background-size: 100% 100%;
	min-height: 2.78rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0.3rem;
	margin: 0 0.15rem;
	margin-bottom: 0.15rem;
}
.container h2{
	color: #fff;
	font-size: 0.17rem;
	margin-bottom: 0.05rem;
	display: flex;
	justify-content: space-between;
	width: 78%;
	white-space: nowrap;
}


.index-data{
	background: url(../images/index-data-bg.png) no-repeat;
	background-size: 100% 100%;
	min-height: 5.33rem;
	padding: 5% 16% 0 11%;
	color: #333333;
}
.index-data h2{
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-family: KaiTi;
	margin-bottom: 1.11rem;    
	margin-left: 8%;
}
.data-block{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 0.24rem;
}
.data-block img{
	width: 0.42rem;
	min-width: 0.42rem;
	margin-right: 0.08rem;
}
.data-wrap{
	width: 100%;
}
.data-wrap h3{
	font-size: 0.16rem;
}
.data-wrap span{
	font-size: 0.12rem;
}
.data-block p{
	font-size: 0.16rem;
}
.data-block button{
	white-space: nowrap;
	width: 0.5rem;
	min-width: 0.5rem;
	line-height: 0.27rem;
	background:linear-gradient(0deg,rgba(255,166,48,1) 0%,rgba(255,207,83,1) 100%);
	box-shadow:0px 1px 0px 0px rgba(214,110,34,1);
	border: 0;
	border-radius: 50rem;
	color: #fff;
	font-size: 0.15rem;
}
.index-data p{
	text-align: right;
	white-space: nowrap;
}
.index-data p span{
	margin-left: 0.36rem;
}
.index-data p strong{
	margin-left: 0.145rem;
}








/* 签到弹框 */
.checkin-mask{
	display: none;
	opacity: 0;
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0;
	background:rgba(0,0,0,.7);
	z-index: 999999;
	align-items: center;
	justify-content: center;
	padding: 0 0.1rem;
}
.checkin-modal{
	/* background: url(../images/checkin-bg-1.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	min-height: 5.345rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 0.77rem 0 0.165rem; */
	position: relative;
}
.checkin-modal-1{
	background: url(../images/checkin-bg-1.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	min-height: 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0 0.165rem;
	position: relative;
	margin-top: -0.5rem;
}
.checkin-font{
	width: 3.24rem;
	z-index: 9;
}
.checkin-modal h1{
	font-size: 0.18rem;
	color: #fff;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	margin-top: -0.2rem;
	font-weight: normal;
}
.checkin-modal h1 span{
	color: #FFD12F;
	font-size: 0.28rem;
	margin: 0 0.1rem;
}
.checkin-modal h2{
	width: 2.55rem;
	background: url(../images/checkin-bg-2.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	line-height: 0.28rem;
	font-size: 0.15rem;
	color: #C90D0D;
	letter-spacing: 2px;
	font-weight: normal;
	margin: 0.05rem 0;
}

.checkin-modal ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0.15rem 0.1rem 0 0.15rem;
}
.checkin-modal li{
	width: 0.27rem;
	height: 0.27rem;
	text-align: center;
	line-height: 0.27rem;
	background-color: #F59C14;
	color: #FFFFFF;
	border-radius: 100%;
	margin: 0.07rem 0.09rem;
}
.checkin-modal .date-active{
	background-color: #863C13;
	color: #fff;
}
.checkin-btn{
	position: absolute;
	bottom: 0.165rem;
	background: url(../images/checkin-bg-3.png) no-repeat;
	background-size: 100% 100%;
	width: 1.495rem;
	line-height: 0.47rem;
	border: 0;
	font-size: 0.17rem;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 2px;
}
.close-icon{
	position: absolute;
	top: 0;
	right: 0;
	width: 0.27rem;
}



