*{margin: 0px;padding: 0px;font-size: 14px;font-family: "microsoft yahei";list-style: none;text-decoration: none;}
.layui-layer-dialog .layui-layer-content{color: #333;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
input,button{outline:none;-webkit-appearance: none;}
select{outline:none;}
ul li{list-style: none;float: left;}
body{background: #fff;}

@media screen and (min-width: 751px){
	body .contect{width: 60%;margin: auto;}
	.phone_box .type{width: 12% !important;}
	.anniu{width: 30% !important;}
	.phone_box{padding: 5% 5px !important;}
}
@media screen and (min-width: 751px) and (max-width: 1100px){
	.anniu{width: 50% !important;}
	.phone_box .type{width: 28% !important;}
}

.anniu{background: #0395E8;border-radius: 50px;font-size: 1.4rem;color: #fff;width: 90%;margin: 10% auto;display: block;padding: 10px 0; letter-spacing: 4px;text-align: center;}

.phone_top{background: #0D80DB;padding:10% 15px;}
.phone_top .phone_title{color: #83D1FE;font-size: 1rem;}
.phone_top .phone{width: 100%;color: #fff;font-size: 1.7rem;font-weight: 500;background:none;border:none;border-bottom: 1px solid #4DA2E8;padding: 8px 0;}

.phone_box{background: #fff;margin: 15px;padding: 12% 5px;margin-top: -4vh;box-shadow:0px 0px 10px #f1f1f1;border-radius: 3px;
display: flex;flex-direction: row;align-items: center;justify-content:center;flex-wrap: wrap;}
.phone_box .type{border: 1px solid #4B95CB;padding: 10px 0px;text-align: center;box-shadow:0px 0px 3px #E2FEFE;
width: 28%;margin: 2%;}
.phone_box .type .price_box{margin-bottom: 5px;}
.phone_box .type .price_box b{color: #2A86D9;font-size: 1.2rem;}
.phone_box .type .price_box span{color: #2A86D9;font-size: 1rem;margin-left: 2px;}
.phone_box .type .price{color: #2A86D9;font-size: 0.8rem;white-space: nowrap;}

