<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/css.css" />
		<link rel="stylesheet" href="css/font.css" />
		<!--js-->
		<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			
		</style>
		<link rel="stylesheet" href="css/swiper.css" 
		
	</head>
	<body>
		<div id="header" name="0"></div>
		<div class="gonggong">
			<div>
			<button class="iconfont icon-xiangzuo1" onclick="javascript:window.history.back(-1);"> 新闻中心</button>
			</div>
		</div>
		<div class="message "    v-cloak>
			<ul>
				<li v-for="(item,index) in news" :key="index"><a :href="'message_list.html?id='+item.id"><p>{{item.title}}</p><span>{{item.create_time}}</span></a></li>
			<!--	<li><a href=""><p>新闻公告新闻公告新闻公告新闻公告新闻公告新闻公告</p><span>2020/20/20 18:00</span></a></li> -->
			
			</ul>
			<div class="kong"  v-if="news.length<=0">					
				<p>没有更多数据</p>
			</div>
		</div>
		<!--MD5js-->
		<script src="js/core.js"></script>
		<script src="js/md5.js"></script>
		<script src="js/jsencrypt.js"></script>
		
		<script>
			var vue = new Vue({
				el: ".message",
				data: {					
					news:[],
					page:1,
					pageList:[],	
				},
				created() {					
					this.getNews();				
				},
				mounted() {
					window.addEventListener('scroll', this.getScroll);
				},
				destroyed() {
					window.removeEventListener('scroll', this.getScroll);
				},
				methods: {					
					getNews(){
						var that = this;
						if(that.page==1){		//第一次的时候或者刷新，切换清空数据
							that.pageList=[];
							that.news=[];
						}	
						var param = {
							"page":that.page,
							"token": $.cookie("token")
						}
						param=rsaMethod(param)
						param={
							"data":param
						}
						$.post(localhostUrl+'/index/index/notice',param, 
						function(res) {
							if(res.status==0){
						//console.log(res.data)
							if(res.data!=null){								
									that.pageList=res.data;
									that.news = that.news.concat(that.pageList);
								//	console.log(that.news)
								}
						}
						else{
								Invalid(res)  //判断登录是否失效			
							}

	
						}, 'json');

					},
					getScroll() {
						var that=this;										
			
						//上面的代码是判断鼠标在整个屏幕滚动条滑到底部的代码
						if ($(window).scrollTop() == $(document).height() - $(window).height() && $(window).scrollTop() > 0 ) {
						
						//	console.log("滑到底部了");
							if(that.pageList.length<10){		//买的每页不足10,说明没下一页							
									layer.msg('没有更多数据');
									return false;
								}else{
									that.page++	
									that.getNews()									
									
								}
							
							console.log("page:"+that.page)
						}																												

					},
				}
			})
		</script>
		
	</body>
</html>
